.header {
    display: block;
    height: 60px;
    padding: 30px;
    background-color: rgb(136, 175, 129);
}

hr {
    margin: 0;
    padding: 0;
}

.header img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 175px;
}

/* !!! */


*:hover {
    transition: 0.25s;
}


body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

/* CURSOR STYLE width */
::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
    position: relative;
    left: 10px
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 175, 129);
    border-radius: 20px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }





/* MENTEE HOME */



/* END MENTEE HOME */