.header {
    display: block;
    margin-bottom: 30px;
}

.header p {
    position: absolute;
    left: calc(50% - 63px);
    transform: translate(0%, -110%);
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
}